doctype html
html(lang="en")
  head
    title 'Markdown To HTML'
    link(rel="stylesheet", href="/style.css")
  body
    h1 Convert Markdown to HTML
    p by Nicholas Neumann-Chun
    hr
    table
      tbody
        tr
          th Write Markdown Here
          th 
          th See the Rendered HTML Here
        tr
          td
            input(type="text" placeholder="markdown")#md
          td
            button#convert Convert
          td
            #rendered
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="main.js")