doctype html
html(lang="en")
  head
    title 'Markdown To HTML'
    link(rel="stylesheet", href="/style.css")
  body
    .header
      h1 Convert Markdown to HTML
      p: em
        span by 
        a(href="https://babelthuap.github.io/") Nicholas Neumann-Chun
    hr
    table#conversion
      tbody
        tr
          th Write Markdown Here
          th 
          th See the Rendered HTML Here
        tr
          td
            textarea(type="text" rows="32" cols="64")#md I am using __markdown__.
          td
            button#convert Convert
          td
            #rendered
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="main.js")